@import "../../styles/mixins.sass"

.film
  display: flex
  align-items: start

  &:not(:last-child)
    margin-bottom: 16px

  button
    border: none
    background: transparent

  img
    margin-right: 16px
    width: 64px
    height: 81px

  h2
    margin: 0
    padding-bottom: 10px
   @include normal-style-weight
    @include primary-text
    letter-spacing: -0.408px
    color: $c-secondary

  span
    @include normal-style-weight
    font-size: 14px
    line-height: 20px
    letter-spacing: -0.408px
    color: $c-secondary

  &--container
    display: flex
    flex-direction: column
